MYSQL_ROOT_PASSWORD=root_password
MYSQL_APP_USER=app_user
MYSQL_APP_PASSWORD=app_user_password
MYSQL_DATABASE=app_db
MYSQL_LOCAL_PORT=port_number
MYSQL_DOCKER_PORT=port_number

SPRING_LOCAL_PORT=port_number
SPRING_DOCKER_PORT=port_number
