spring.datasource.url=jdbc:mysql://<container_name_production>:<container_port>/<database>?allowPublicKeyRetrieval=true&useSSL=false
spring.datasource.username=
spring.datasource.password=
spring.jpa.database-platform=org.hibernate.dialect.MySQLDialect
spring.sql.init.mode=never
spring.jpa.defer-datasource-initialization=false
spring.jpa.generate-ddl=true
spring.jpa.hibernate.ddl-auto=none
seed.development=false
seed.production=false
server.port=8002
